body {
    font-size: 30px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    background-image: url(Grass\ Background.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255, 0.9);
}   

.title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255, 0.9);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: center;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
}

.accountform {
    width: 60vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

label {
    display: block;
    margin: 0.5rem 0;
    padding: 10px;
}

input {
    color: rgb(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    width: 180px;
    min-height: 2em;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

input[type="submit"] {
    color: rgb(255, 255, 255, 0.9);
    font-size: 20px;
    margin-top: 2.5em;
    width: 197.53px;
    background-color: rgba(0, 255, 0, 0.6);
}

input[type="button"] {
    color: rgb(255, 255, 255, 0.9);
    font-size: 20px;
    margin-top: 1em;
    width: 197.53px;
    background-color: rgba(0, 0, 0, 0.6);
}

#error {
    margin: 0 auto;
    padding: 5px;
    width: 197.53px;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255, 0.9);
    margin-top: 2.5em;
}

#gameshistory {
    padding-bottom: 1.17em;
    padding-top: 0.1em;
    border-radius: 20px;
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 26.8px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#newgame {
    min-width: 250px;
    width: 50%;
    display: block;
    margin: 26.8px auto;
    padding: 0px;
}

#endgame {
    min-width: 300px;
    width: 50%;
    display: block;
    margin: 10px auto;
    margin-bottom: 26.8px;
    padding: 0px;
    background-color: rgba(255, 0, 0, 0.6);
}

#logout {
    min-width: 300px;
    width: 50%;
    display: block;
    margin: 10px auto;
    padding: 0px;
    background-color: rgba(255, 0, 0, 0.6);
}

#gamename {
    min-width: 300px;
    width: 50%;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    padding: 0px;
    border-radius: 20px;
}

#gamenameinput {
    min-width: 250px;
    width: 50%;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    padding: 0px;
}

#newgameform {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 50%;
    margin: 26.8px auto;
    min-width: 300px;
}

.container {
    display: flex;
}

.bigcontainer {
    margin: 0px auto;
    justify-content: center;
    display: flex;
}

.box {
    border-radius: 20px;
    width: 50%;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
}

.teamtitle {
    border-radius: 20px;
    width: 50%;
    text-align: center;
    display: block;
    margin: 0;
}

#right-box {
    margin-left: 3px;
}

#left-box {
    margin-right: 3px;
}

.runs {
    border-radius: 20px;
    width: 50%;
    border-width: 2px;
    border-bottom: solid;
    border-color: rgb(0, 0, 0);
    margin: 0.5em auto;
}

.runbutton {
    margin: 0 auto;
    width: 90% !important;
    max-width: 197.53px;
}

.lastrunbutton {
    margin-bottom: 26.8px;
}

#team1vsteam2 {
    margin-bottom: 0;
}

#date {
    font-size: 16px;
}

#team1name {
    margin-top: 10px;
}

#cancelbutton {
    background-color: rgba(255, 0, 0, 0.6);
}

#deletebutton {
    margin-top: 0px;
    background-color: rgba(255, 0, 0, 0.6);
    font-size: small;
    width: 100px;
}

#resumebutton {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: small;
    width: 100px;
}

.undobutton {
    margin-top: 26.8px !important;
    margin-bottom: 26.8px !important;
    background-color: rgba(255, 0, 0, 0.6) !important; 
    font-size: small !important;
    width: fit-content !important;
}


