<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link = rel="stylesheet" href="/static/home.css"/>
    <title>Runs Tracker</title>
</head>
<body>
    <h1 class="title">Runs Tracker</h1>

    <form method="post" action='/tracker/game/end'>
        <input type="hidden" name="username" value="{{username}}"/>
        <input id="newgame" type="submit" value="End Game"/>
    </form>


    <div class="bigcontainer">
        <div id="left-box" class="box">

            <div class="container">
                <form class="runform" method="post" action='/tracker/game/end'>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <input class="runbutton" type="submit" value="1"/>
                </form>
                <form class="runform" method="post" action='/tracker/game/end'>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <input class="runbutton" type="submit" value="2"/>
                </form>
            </div>

            <div class="container">
                <form class="runform" method="post" action='/tracker/game/end'>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <input class="runbutton" type="submit" value="4"/>
                </form>
                <form class="runform" method="post" action='/tracker/game/end'>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <input class="runbutton" type="submit" value="6"/>
                </form>
            </div>


            <div class="runs">
                6
            </div>
            <div class="runs">
                6
            </div>
        </div>
        <div id="right-box" class="box">

            <div class="container">
                <form class="runform" method="post" action='/tracker/game/end'>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <input class="runbutton" type="submit" value="1"/>
                </form>
                <form class="runform" method="post" action='/tracker/game/end'>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <input class="runbutton" type="submit" value="2"/>
                </form>
            </div>

            <div class="container">
                <form class="runform" method="post" action='/tracker/game/end'>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <input class="runbutton" type="submit" value="4"/>
                </form>
                <form class="runform" method="post" action='/tracker/game/end'>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <input class="runbutton" type="submit" value="6"/>
                </form>
            </div>

            <div class="runs">
                6
            </div>
        </div>
    </div>
</body>
</html>