<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link = rel="stylesheet" href="/static/home.css"/>
    <title>Runs Tracker</title>
</head>
<body>
    <h1 class="title">Runs Tracker</h1>

    <div class="container">
        <div class="box">
            <div class="container">
                <div class="box runbutton">
                    1
                </div>
                <div class="box runbutton">
                    2
                </div>
            </div>
            <div class="container">
                <div class="box runbutton">
                    4
                </div>
                <div class="box runbutton">
                    6
                </div>
            </div>


            <div class="runs">
                6
            </div>
            <div class="runs">
                6
            </div>
        </div>
        <div class="box">
            <div class="container">
                <div class="box runbutton">
                    1
                </div>
                <div class="box runbutton">
                    2
                </div>
            </div>
            <div class="container">
                <div class="box runbutton">
                    4
                </div>
                <div class="box runbutton">
                    6
                </div>
            </div>
            <div class="runs">
                6
            </div>
        </div>
    </div>
</body>
</html>