<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link = rel="stylesheet" href="/static/home.css"/>
        <title>Runs Tracker</title>
    </head>

    <body>
        <h1 class="title">Runs Tracker</h1>
        <form method="post">
            <label for="username">Username <input id=username" name="username" type="text" required /></label>
            <label for="password">Password <input id="password" name="password" type="password" required /></label>
            <input class="inline" type="submit" value="Create New Account"/>
            <input class="inline" type="submit" value="Login"/>
        </form>
        
    </body>
</html>