<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link = rel="stylesheet" href="/static/home.css"/>
    {% include 'icon.html' %}
    <title>New Account</title>
</head>
<body>
    <h1 class="title">Runs Tracker</h1>
    <form class="accountform" method="post" action="/confirmaccount">
        <label for="username">Username <br> <input name="username" type="text" required /></label>
        <label for="password">Password <br> <input  name="password" type="password" required /></label>
        
        <input type="submit" value="Confirm"/><br>
        <input id="cancelbutton" type="button" onclick="window.location.href='/';" value="Cancel"/>
    </form>
</body>
</html>