<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link = rel="stylesheet" href="/static/home.css"/>
    <title>Runs Tracker</title>
</head>
<body>
    <h1 class="title">Runs Tracker</h1>

    <form method="post" action='/tracker/game'>
        <input type="hidden" name="username" value="{{username}}"/>
        <input id="newgame" type="submit" value="Start New Game"/>
    </form>

    <div id="gameshistory">
        {% for game in games %}
            <h3>Game {{ game['id'] }}</h3>
            <div>Team 1: {{ game['team1'] }}</div>
            <div>Team 2: {{ game['team2'] }}</div>
        {% endfor %}
    </div>
</body>
</html>